/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}


/****************/
/* Algemeen */
/****************/

* {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 1em;
	box-sizing: border-box;
	
}

body{
	margin: 0 1em;
	line-height: 22px;
}

img {
	max-width: 100%;
}



/****************/
/* Header */
/****************/

	/****************/
	/* Mobiel 375px */
	/****************/

header{
	margin-top: 0.8em;
}

h1 {
	max-width: 14.5em;
}

header button {
	max-width: 2.1em;
	padding: 0;
	margin-top: 1.7em;
	align-self: flex-start;
	border: none;
	cursor: pointer;
	background: none;

}

header>section {
	display: flex;
	justify-content: space-between;
}


/* Hamburger Menu */
header ul {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

header ul.show {
	display: block;
	border-top: 3px solid #e5e5e5;
}

/* menu styling */ 
header ul li{
	background: #F0F2F5;
	border-bottom: 1px solid #E1E2E4;
}

header ul a {
	text-transform: uppercase;
	text-decoration: none;
	color: #555;
	font-weight: 700;
	font-size: 0.9em;
}

header ul > * {
	display: block;
	padding: 1.25em 2.3em;
}




